<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-4" ng-click="refresh()">
      <i class="large material-icons">autorenew</i>
    </a>
</div>


<nav style="background-color: #003A5E;margin-top:-3%;">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="#/amq" class="breadcrumb">AMQ</a>
            <a class="breadcrumb">Queue: {{queueName}}</a>
        </div>
    </div>
</nav>


<div class="container center-align">
  <h3 >Messages</h3>
</div>

<div class="containerLimits">
  <table datatable="ng" dt-options="dtOptions" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Message ID</th>
                <th>Created DT</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in objects">
                <td>{{$index + 1}}</td>
                <td>{{object.messageId}}</td>
                <td>{{object.creationDate}}</td>
                <td>
                    <a ng-click="viewDetails(object)" href="">Details</a> |
                    <a ng-click="deleteMessage(object)" href="">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
