<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-4" ng-click="refresh()">
      <i class="large material-icons">autorenew</i>
    </a>
</div>

<div class="container center-align">
  <h3>AMQ Operations</h3>
</div>

<div ng-show="isLoading">
  <div class="center-align">
    <span>{{loadingMsg}}</span>
  </div>
  <wave-spinner></wave-spinner>
</div>

<div class="containerLimits">
  <table datatable="ng" dt-options="dtOptions" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Queue Name</th>
                <th># Messages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in objects">
                <td>{{$index + 1}}</td>
                <td>{{object.queueName}}</td>
                <td>{{object.messageCount}}</td>
                <td>
                    <span ng-show="object.messageCount == 0" class="grey-text">View Messages </span>
                    <span ng-show="object.messageCount > 0"><a ng-click="goToMessages(object)" href="">View Messages </a></span> |
                    <span ng-show="object.messageCount == 0" class="grey-text">Purge</span>
                    <span ng-show="object.messageCount > 0"><a ng-click="purgeQueue(object)" href="">Purge</a></span> |
                    <a ng-click="deleteQueue(object)" href="">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
