<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-4" ng-click="runTests()" ng-disabled="!isAvailable" >
      <i class="large material-icons">play_arrow</i>
    </a>
</div>

<div class="fixed-action-btn" style="bottom: 115px; right: 24px;">
  <a class="btn-floating btn-large waves-effect waves-light blue darken-4" ng-click="refresh()">
    <i class="large material-icons">autorenew</i>
  </a>
</div>

<div class="container center-align">
  <h3>Run tests</h3>
</div>


<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content ">
          <span class="card-title">Test Information</span>
          <table class="striped">

            <tbody>
              <tr>
                <td>
                  Status: <span ng-class="getTextColor(statusMsg)">{{statusMsg}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  Last test status: <span ng-class="getTextColor(lastStatus)">{{lastStatus}}</span>
                </td>
              </tr>
              <tr>
                <td>
                  Last build number: {{lastBuildNumber}}
                </td>
              </tr>
              <tr>
                <td>
                  Last test date: {{lastDt  | date:'medium'}}
                </td>
              </tr>
              <tr>
                <td>
                  Space: {{space}}
                </td>
              </tr>
              <tr>
                <td>
                  Show console
                  <div class="switch">
                    <label>
                      Off
                      <input type="checkbox" ng-model="isConsoleActive">
                      <span class="lever"></span>
                      On
                    </label>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div ng-show="isRunning">
    <div class="center-align">
        <span>Running tests</span>
    </div>
    <wave-spinner></wave-spinner>
</div>

<div class="container" ng-if="isConsoleActive">
  Console output:
  <pre>
    {{consoleOutput}}
  </pre>
</div>
