<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large waves-effect waves-light blue darken-4" ng-click="refresh()">
      <i class="large material-icons">autorenew</i>
    </a>
</div>

<div class="container center-align">
  <h3>Subscriptions</h3>
</div>

<div ng-show="isLoading">
  <div class="center-align">
    <span>{{loadingMsg}}</span>
  </div>
  <wave-spinner></wave-spinner>
</div>

<div class="containerLimits">
  <table datatable="ng" dt-options="dtOptions" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Event Type</th>
                <th>Name</th>
                <th>Endpoint</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="subscription in subscriptions">
                <td>{{$index + 1}}</td>
                <td>{{getSubscriptionId(subscription._links.self.href)}}</td>
                <td>{{subscription.eventSubscription}}</td>
                <td>{{subscription.name}}</td>
                <td>{{subscription.deliveryMethod.endpoint}}</td>
                <td>
                    <a ng-click="delete(subscription)" href="">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
